/* Remove default margin and padding  */
* {
  padding:0;
  margin:0;
}
/* Universal Styles */
body {
  font-family:Helvetica; sans-sarif;
  background-color: black;
  font-size:22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

a {
  color:seashell;
  text-decoration: underline;
}
/* Header */
header {
  display:flex;
  align-items: center;
  width: 100%;
  border: 1px solid red;
  height:69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  top:0;
  z-index: 1;
}
.logo {
  border: 1px solid red;
  height:50px;
  margin-left: 10px;
  flex-grow: 1;
  justify-content: flex-start;
  display: flex;
  min-width: 450px;
}
.logo img {
  height:100%;
  width: auto;
}
nav span {
  border: 1px solid red;
  display:inline-block;
  padding-right: 20px;
}
nav {
  border: 1px solid blue;
  margin-left: auto;
  white-space: nowrap;
}
